{% extends 'Admin/adminbase.html.twig' %}

{% block content %}
    <div id="admin-content">
        <h1 id="main-title">Changer le mot de passe utilisateur</h1>
        <div style="padding: 20px">
            <hr>
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            {{ form_end(userForm) }}
            <hr>
            <a href="{{ path('app_admin_users_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}