{% extends 'Admin/adminbase.html.twig' %}

{% block content %}
 <div id="admin-content">
    <h1 id="main-title">Modifier votre mot de passe</h1>
 <div style="padding: 20px">
    <hr>
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    {{ form_end(passwordForm) }}
    <hr>

 <a href="{{ path('app_admin_profil') }}">Retour</a>
 </div>
{% endblock %}