{% extends 'base.html.twig' %}

{% block body %}
    <h1 id="main-title">Mentions Légales</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="legalModel" style="margin-left: 50px">
                <h2 class="text-justify">Informations nominatives</h2>
                <p class="text-justify">Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
                    sapientissimum
                    iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar,
                    sic habetote</p>
                <h2 class="text-justify">Realisation</h2>
                <p class="text-justify">Nihil morati post haec militares avidi saepe turbarum adorti sunt Montium primum,
                    qui divertebat in proximo, levi corpore senem atque morbosum, et hirsutis resticulis cruribus eius
                    innexis divaricaturn sine spiramento ullo ad usque praetorium traxere praefecti.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div id="contactModel">
                <img src="{{ asset('images/logo.jpg') }}" id="logo">
            </div>
        </div>
    </div>
    <div class="row">
        <div id="legalModel">
            <ol>
                <li>
                    <h2 class="text-justify">Apollo, ut ais</h2></li>

                <p class="text-justify">Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
                    sapientissimum
                    iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar,
                    sic habetote</p>

                <li><h2 class="text-justify">Senem atque morbosum</h2></li>
                <p class="text-justify">Nihil morati post haec militares avidi saepe turbarum adorti sunt Montium primum,
                    qui divertebat in proximo, levi corpore senem atque morbosum, et hirsutis resticulis cruribus eius
                    innexis divaricaturn sine spiramento ullo ad usque praetorium traxere praefecti.</p>
                <li><h2 class="text-justify">Apollo, ut ais</h2></li>
                <p class="text-justify">Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
                    sapientissimum
                    iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar,
                    sic habetote</p>
                <li><h2 class="text-justify">Senem atque morbosum</h2></li>
                <p class="text-justify">Nihil morati post haec militares avidi saepe turbarum adorti sunt Montium primum,
                    qui divertebat in proximo, levi corpore senem atque morbosum, et hirsutis resticulis cruribus eius
                    innexis divaricaturn sine spiramento ullo ad usque praetorium traxere praefecti.</p>
                <li><h2 class="text-justify">Senem atque morbosum</h2></li>
                <p class="text-justify">Nihil morati post haec militares avidi saepe turbarum adorti sunt Montium primum,
                    qui divertebat in proximo, levi corpore senem atque morbosum, et hirsutis resticulis cruribus eius
                    innexis divaricaturn sine spiramento ullo ad usque praetorium traxere praefecti.</p>
                <li><h2 class="text-justify">Apollo, ut ais</h2></li>
                <p class="text-justify">Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
                    sapientissimum
                    iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar,
                    sic habetote</p>
                <li><h2 class="text-justify">Senem atque morbosum</h2></li>
                <p class="text-justify">Nihil morati post haec militares avidi saepe turbarum adorti sunt Montium primum,
                    qui divertebat in proximo, levi corpore senem atque morbosum, et hirsutis resticulis cruribus eius
                    innexis divaricaturn sine spiramento ullo ad usque praetorium traxere praefecti.</p>
            </ol>
        </div>
    </div>
{% endblock body %}